<div class="row ma-20">
	<div class="tb b-sh pa-30">
	<div class="col-sm-12">
			<h2>Contact Us</h2>
	</div>
<div class="col-sm-3">
	images goes here
</div>
<div class="col-sm-9">
	<div class="info pa-10">
		<h4>Decription</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="info-link pa-10">
		<h4>Contact Details</h4>
		<div class="link-details">
			<a href="#"><i class="fa fa-envelope"></i> Message via mail</a>
		</div>
		<div class="link-details">
			<a href="#"><i  class="fa fa-globe"></i> Visit Website</a>
		</div>
		<div class="link-details">
			<a href="#"><i  class="fa fa-mobile fa-lg"></i> Phone No.</a>
		</div>
	</div>
	<div class="tweets-link pa-10">
		<h4>Follow links</h4>
		<a href="#"><i class="fa fa-facebook-square fa-lg"></i></a>
		<a href="#"><i class="fa fa-twitter-square fa-lg"></i></a>
		<a href="#"><i class="fa fa-google-plus-square fa-lg"></i></a>
		<a href="#"><i class="fa fa-linkedin-square fa-lg"></i></a>
	</div>

</div>
</div>
</div>