div#container
  div#webcam 
  input type="button" value="Take Picture" onclick="webcam.snap();"
-path = upload_avatar_profile_path(@profile)
  





javascript:
  $(document).ready(function(){

    webcam.set_swf_url('/assets/webcam.swf');
    webcam.set_api_url('upload_avatar');
    webcam.set_hook('onLoad', 'onload_complete');
    webcam.set_hook('onComplete', 'upload_complete');


    webcam.set_quality(90);
    webcam.set_shutter_sound(true, '/assets/shutter.mp3');
    $('#webcam').html(webcam.get_html(600, 400));
    console.log($("#webcam").html());
  });


  function onload_complete(msg) {
    // fetch the CSRF meta tag data
    var csrf_param = $('meta[name=csrf-param]').attr('content');
    var csrf_token = $('meta[name=csrf-token]').attr('content');

    // reset the api URL appending the auth token parameter
    webcam.set_api_url('upload_avatar' + '?' + csrf_param + "=" + encodeURI(encodeURI(csrf_token)));
    }
    function upload_complete(msg) {
        if (msg == 'ok') {
            $('#new_photo').show();
            $('#photo_description').focus();
        } else {
            alert('An error occured');
            webcam.reset();
        }
    }
