<% content_for :heading, "Change profile picture" %>
<%= form_for @user, :url =>  profile_path(@user.id), :method => "patch", :html => { :multipart => true } do |form| %>
 		<div class="text-center" style="width:400px;margin:0px auto;">
			  <%= image_tag @user.avatar.url(:medium), :class => "thumbnail text-center" %>
		</div>
	<div class="control-group clearfix">
		<div class="pull-left">
			<%= form.file_field :avatar, :class => "mg-thumbnail" %>
		</div>
		<div class="pull-right">
			<input type="submit" class="btn btn-primary" name="submit" value="Upload">
		</div>
	</div>
<% end %>