<% content_for :heading, "Change profile picture" %>
<%= form_for @user, :url =>  profile_path(@user.id), :method => "patch", :html => { :multipart => true } do |form| %>
 		<div class="text-center" style="width:400px;margin:0px auto;">
			  <%= image_tag @user.avatar.url(:medium), :class => "thumbnail text-center" %>
		</div>
	<div class="control-group clearfix">
		<div class="pull-left">
			<input type="hidden" value="upload_avatar" name="coming_action">
			<%= form.file_field :avatar, :class => "mg-thumbnail" %>
		</div>
		<div class="pull-right">
			<input type="submit" class="btn btn-custom" name="submit" value="Upload">
		</div>
        <div>
			<%= link_to "Take Picture from webcam", take_pic_profile_path(@user), class: ".btn" %>
        </div>
	</div>
<% end %>
