<%  
if row.instance_of? Upload
    url = upload_url(row)
elsif row.is_deal?
    url = deal_url(row)
elsif row.is_news?
    url = news_url(row)
elsif row.is_video?
    url = video_url(row)
elsif row.is_event?
    url = event_url(row)
end
%>
<div class="share-wrapp">
    <input type="hidden" class="share_link" value="<%="/pages/share?share_countable_id=#{row.id}&share_countable_type=#{row.class}"%>">
    <%= social_share_button_tag(row.title, :url => url) %>
</div>
