<% if @search_results.present? %>
<% @search_results.each_with_index do |result, index| %>
    <%if (index+1)%4 == 0%>
        <div class="row news-row">
    <%end %>
        <% klass = (base_name = result.class.base_class.name).eql?("Content") ? result.type : base_name %>
        <%= render partial: "#{klass.pluralize.downcase}/#{klass.downcase}_block", :locals => {:row => result} %>
    <%if (index+1)%4==0%>
        </div>
    <%end%>
<% end %>
<% else %>
    <div style="padding-left:20px;font-size:16px;">
        <% unless params[:query].blank? %>
       There are no ads/ events with this query, invite friends through social media to start advertising or create things for the world to search. And remember your in control.
        <% end %>
    </div>
    <%=render :partial => "search/fourbox"%>
<% end %>