<% if @search_results.present? %>
<% @search_results.each_with_index do |result, index| %>
    <%if (index+1)%4 == 0%>
        <div class="row news-row">
    <%end %>
        <% klass = (base_name = result.class.base_class.name).eql?("Content") ? result.type : base_name %>
        <%= render partial: "#{klass.pluralize.downcase}/#{klass.downcase}_block", :locals => {:row => result} %>
    <%if (index+1)%4==0%>
        </div>
    <%end%>
<% end %>
<% else %>
    <div style="padding-left:20px;font-size:16px;">
        <%="THERE ARE NO ADS/ EVENTS with this query, INVITE FRIENDS THROUGH SOCIAL MEDIA TO START ADVERTISING OR CREATE THINGS FOR THE WORLD TO SEARCH. AND REMEMBER YOUR IN CONTROL.".downcase %>
    </div>
    <%=render :partial => "search/fourbox"%>
<% end %>