<div>
    <div class="alert" style="margin-bottom:0px;background:#377CED; color:#fff; max-width:500px;">
        To speed up viewers for your video please share this on social media.
    </div>
    <%=render "video_block", :row => @video%>
</div>
