<div id="videos">
	<%="No videos" if @videos.blank?%>
	<% @videos.each_with_index do |row, index| %>
       <%if (index+1)%4 == 0%>
           <div class="row news-row">
       <%end %>
            <%=render "videos/video_block", :row => row%>
       <%if (index+1)%4==0%>
           </div>
       <%end%>
	<% end %>
</div>
