<div id="my-carousel" class="carousel slide" data-ride="carousel" style="height:535;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <% @all_events.each_with_index do |event, index| %>
            <li data-target="#my-carousel" data-slide-to="<%=index%>" class="<%=(event.id==@event.id) ? "active" : ""%>"></li>
        <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <%@all_events.each_with_index do |event, index|%>
            <div class="item <%="active" if event.id == @event.id %>">
                <%=render "show_block", :event => event%>
            </div>
        <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#my-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>