.row
    .col-md-10.col-md-offset-1
		.panel.panel-default
			.panel-heading
				h3.panel-title
				    = @event.title
			.panel-body
				.row
				    .col-md-offset-1.col-md-10.col-md-offset-1
				        - if @event.location.present? 
				            #map-canvas style="width:700px;height:450px;" data-lat="#{@event.location.lat}" data-lon="#{@event.location.lon}"
				        = @event.description
			-if current_user == @event.user
                .panel-footer
                    .control-group.clearfix
                	    .pull-left
                            =link_to 'Edit', edit_event_path(@event), :class => "btn btn-info btn-sm"
                		.pull-right
                			= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm"
                	     
				            
- if @event.location.present?  
  javascript:
    $('document').ready(function(){
      function initialize() {
  
        var element = $('#map-canvas')
        var myLatlng = new google.maps.LatLng(element.data().lat, element.data().lon);
        var mapOptions = {
          zoom: 14,
          center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Hello World!'
        });
      }
  
      google.maps.event.addDomListener(window, 'load', initialize);
    })
