<div id="news">
	<%="No news" if @news.blank?%>
	<% @news.each_with_index do |row, index| %>
	<%if (index+1)%4 == 0%>
	<div class="row news-row">
		<%end %>
		<%=render "news/news_block", :row => row%>
		<%if (index+1)%4==0%>
	</div>
	<%end%>
	<% end %>
</div>
