<style>
.carousel-control{
    width:9%;
}
.carousel-control .glyphicon-chevron-left{
    left:75%;
}
.carousel-control .glyphicon-chevron-right{
    right:75%;
}
</style>
<div id="my-carousel" class="carousel slide" data-ride="carousel" style="height:535;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <% @all_news.each_with_index do |news, index| %>
            <li data-target="#my-carousel" data-slide-to="<%=index%>" class="<%=(news.id==@news.id) ? "active" : ""%>"></li>
        <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <%@all_news.each_with_index do |news, index|%>
        <div class="item <%="active" if news.id == @news.id %>">
            <%=render "show_block", :news => news%>
        </div>
        <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#my-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<script>
$('#my-carousel').carousel()
</script>

