<div>
    <div class="alert alert-danger" style="margin-bottom:0px; max-width:500px;">
        To speed up viewers for your ad please share this on social media.
    </div>
    <%=render "deal_block", :row => @deal%>
</div>
