/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.form-item{
	padding:10px;
}
.four-section .jumbotron{
	padding:20px;
	margin:10px;
}
.date-wrapp{
	margin:0px;
	padding-bottom:10px;
	font-size: 15px;
	color:#999999;
}

#search-engine{
	padding-bottom:20px;
}
.login-footer li{
	list-style:none;
}
.panel-info{
	-webkit-box-shadow: -1px -1px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -1px -1px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -1px -1px 12px 0px rgba(50, 50, 50, 0.75);
}
.four-section .jumbotron:hover{
	background:#ddd;
}
.banner-pic{
	max-width:200px;
	height:200px;
}
#banner-wrapper{
	margin:0px auto;
	width:210px;
}