/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.form-item{
	padding:6px;
}
.search-wrapper{
	height:60px;
}
.four-section .jumbotron{
	padding:20px;
	margin:10px;
}
.date-wrapp{
	margin:0px;
	padding-bottom:10px;
	font-size: 15px;
	color:#999999;
}

.login-footer li{
	list-style:none;
}
.panel-info{
	-webkit-box-shadow: -1px -1px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -1px -1px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -1px -1px 12px 0px rgba(50, 50, 50, 0.75);
}
.four-section .jumbotron:hover{
	background:#ddd;
}
.flash-msg{
	margin-bottom:0px;
}
.mini-user{
	border:1px solid #FCFCfC;
	margin:4px;
}
.mini-icon {
	height:32px;
	width:32px;
	margin:0px;
	padding:0px;
}
.mini-user-name{
	margin:6px 6px 0px 6px;	
}
.comments{
	margin:1px 0px; 
	border:1px solid #FFF;
	background:#F5F5F5;
}
.comments:hover{
  background:#EEE;
}
.deal-image img{
    width: 100%;
    height: 150px;
}
.deal-item a{
   color: black
}
.deal-item a :hover{
     color:blue
}
#banner-wrapper{
	width:740px;
	margin:0px auto;
}
.banner-pic{
	max-width:700px;
	height:700px;
}
.text-justify{
	text-align:justify;
}
.image-description{
	width:350px;
	text-align:justify;
}

#user-auth{
	padding:20px;
}

.content-popularity .pull-left{
	padding-left:4px;
}
a.like-button:hover{
	text-decoration:none;
	font-weight:bold;
}
.news-row{
	margin-left:0px;
	margin-right:0px;
}
 .content-popularity{
  margin-bottom:10px;
}
 .count-block{
	float:left;
	padding:0px 3px;
}
 .like-wrapp{
	text-align: right;
	padding-right: 20px;
}
.photo-update{
	height:300px;
	width:300px;
}
.row-div{
	padding:10px;
	margin:0px;
}
#videos .panel{
	padding:0px;
	font-size:13px;
	height:320px;
}
.popover{
	width:276px;
}
.btn-custom, .popover{
  background:#377CED;
  color:#FFF;
}
.popover{
  border:1px solid #377CED;
}
.home-menu, .btn-icon, .containers .panel-heading{
	background:#4D90FE;
	color:#FFF;
}
.home-menu {
	border:1px solid #4D90FE;
}
.home-menu.dropdown-menu > li > a{
  color:#fff;
}
.home-menu.dropdown-menu > li > a:hover{
  background:#377CED;
}
.containers .panel-default{
  border:1px solid #377CED;
}
.containers .panel-heading a{
  color:#fff;
}
.btn-custom:hover{
  background:#377CED;
  color:#FFF;
  font-weight:bold;
}
.popover-btn:focus{
  color:#377CED;
}
.content-block{
    border:1px solid #CDCDCD;
    padding:10px;
    margin:10px;
    background:#FDFDFD
}
.content-block:hover{
    background:#F9F9F9;
}
.block-img{
	width:212px;
  height:212px;
  border:1px solid #DDD;
	margin-bottom:0px;
}
.btn-blue{
	background:#377CED;
  	color:#FFF;
}
.home-icon{
	color:#FFF;
}
.display-item{
	padding-left:10px;
	border-bottom:1px solid #f7f7f7;
}

.block-heading{
  font-weight:bold;
}
.content { 
  overflow: hidden;
}
.columns { 
  position: relative;
  float: left;
  padding-right: 10px;
  margin-bottom: 0px;
}
.c2 {
  float: none;
  overflow: hidden;
  padding-right: 10px;
  word-wrap: break-word;
}
.time-ago{
  color:#787878;
}
.created-logo{
  height:40px;
  width:40px;
}
.created-block{
  border:1px solid #FFFFFF;
  margin-bottom:8px;
}
.modal-dialog{
  width:520px;
}
.create-icon{
  height:48px;
  width:48px;
}
.modal-header{
  border-bottom:none;
}
.block-item{
  padding:2px 0px;
}
.carousel-control{
    width:9%;
}
.carousel-control .glyphicon-chevron-left{
    left:75%;
}
.carousel-control .glyphicon-chevron-right{
    right:75%;
}
.views-count, .votes-count, .comments-count{
  border-right:1px solid #ccc;
}
.full-block .count-block{
  width:25%;
  text-align:center;
}
.show-block-wrapp{
  height: 532px;
  overflow:scroll;
  backgroun:#FFF;
}