/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.form-item{
	padding:6px;
}
.four-section .jumbotron{
	padding:20px;
	margin:10px;
}
.date-wrapp{
	margin:0px;
	padding-bottom:10px;
	font-size: 15px;
	color:#999999;
}

#search-engine{
	padding-bottom:20px;
}
.login-footer li{
	list-style:none;
}
.panel-info{
	-webkit-box-shadow: -1px -1px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -1px -1px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -1px -1px 12px 0px rgba(50, 50, 50, 0.75);
}
.four-section .jumbotron:hover{
	background:#ddd;
}
.banner-pic{
	max-width:200px;
	height:200px;
}
#banner-wrapper{
	margin:0px auto;
	width:210px;
}
.flash-msg{
	margin-bottom:0px;
}
.mini-user{
	border:1px solid #eee;
	margin:4px;
}
.mini-icon {
	height:32px;
	width:32px;
	margin:0px;
	padding:0px;
}
.mini-user-name{
	margin:6px 6px 0px 6px;	
}
.comments{
	margin:10px; border:1px solid #fff
}
.deal-image{
	border: 2px solid black;
	overflow: hidden;
}

.deal-item{
	overflow: hidden;
	padding: 5px;
}
#deal_container{
	background: white;
	border-radius: 5px;
}
.social-stats ul{
	padding: 3px;
}
.social-stats li{
	list-style: none ;

}