#news, #videos{
	margin:15px;
}
#news .panel{
	padding:0px;
	font-size:13px;
	height:180px;
}
#news .panel-body{
	padding:8px;
}
.news-title{
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
	padding:10px;
	font-weight:bold;
	font-size:18px;
}
.news-description{
  height:90px;
}
#comment-wrapp{
	font-size:12px;
	margin-top:10px;
	border-top:1px solid #eee;
}
.news-icon{
	width:82px;
	height:82px;
	margin-bottom:0px;
}
.news-block{
	padding:8px;
}