#news{
	margin:15px;
}
#news .panel{
	padding:0px;
	font-size:15px;
	height:190px;
}
.news-title{
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
	padding:10px;
	font-weight:bold;
	font-size:18px;
}
.news-description{
  padding:10px;
}
#comment-wrapp{
	font-size:12px;
	margin-top:20px;
	border-top:1px solid #eee;
	padding:10px;
}
