<div class="fixed-footer">
	<a href="<%= contact_us_dashboard_index_path %>">	
		How to Contact
	</a>
	<a href="#">
		For Personal
	</a>
	<a href="#">
		About Us
	</a>
	<a href="#">
		For Business
	</a>
</div>