<title>Pagekonect</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<%= csrf_meta_tags %>
<style type="text/css">
body{
	<%if user_signed_in? %>
		background:url("<%=current_user.banner_image.url%>") #fff repeat;
	<%else%>
		background:url('/assets/bg1.png') #fff repeat; 
	<%end%>
}
</style>