<div class="search-wrapper">
    <div class="input-group add-on">
        <div class="input-group-btn">
            <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-list fa-2x popover-btn home-icon" data-content="Click here to see all the menu options"></i>
            </button>
            <ul class="dropdown-menu home-menu">
                <%=render "layouts/navbar"%>
            </ul>
        </div>
        <form action="/search" method="get" class="input-group-btn search">
            <input class="input-lg typeahead search-data" type="text" placeholder="What are you searching for?" id="search-data" name="query" > 
        </form>
        <div class="input-group-btn">
            <div class="btn btn-blue">
                <a href="#" class="search-btn">
                    <i class="fa fa-search fa-2x popover-btn home-icon" data-content="Click here to search everything in site"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
$('.search-data').typeahead({
    prefetch: '/pages/all/search'
});
$(document).on("click", ".search-btn", function(){
    $(".search").submit();
});
</script>