<div class="search-wrapper">
    <div class="input-group add-on">
        <div class="input-group-btn">
            <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-list fa-2x popover-btn home-icon" data-content="Click here to see all the menu options"></i>
            </button>
            <ul class="dropdown-menu home-menu">
                <%=render "layouts/navbar"%>
            </ul>
        </div>
        <form action="/search" method="get">
            <input class="input-lg typeahead search-data" type="text" placeholder="What are you searching for?" id="search-data" name="query" >
        </form>
        <div class="input-group-btn">
            <div class="btn btn-blue">
                <a href="<%=publish_uploads_path%>">
                    <i class="fa fa-camera fa-2x popover-btn home-icon" data-content="Click here either to upload picture from computer or to capture from camera"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
$('.search-data').typeahead({
    prefetch: '/pages/all/search'
});
</script>