<!DOCTYPE html>
<html>
<head>
	<%=render "layouts/head"%>
</head>
<body>
	<div class="containers">	
		<%= render partial: "shared/user_notice" %>
		<%if params[:controller] != "dashboard" %>
		<%=render "layouts/searchbox"%>
		<%end%>
		<%= yield %>
	</div>	
</body>
</html>
